*.exe
obj
obj_debug
results
junk
gmon.out
*~
.*.swp
.DS_Store
.deps
.dirstamp
a.out
coverage.info
coverage
*.pyc
statistics
temp
www
flags.mk
.sconsign.dblite
autoconf
flags_*.mk
grib_api/
netcdf/
build/
