*.exe
obj
obj_debug
results
junk
gmon.out
*~
.*.swp
.DS_Store
.deps
.dirstamp
a.out
coverage.info
coverage
*.pyc
statistics
temp
www
grib_api/
netcdf/
build/

# Scons files
local.scons
.sconf_temp
.sconsign.dblite
config.log
