body {
  /*background: url("vancouver.jpg");*/
   background-color: #333;
   font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
.content {
   -webkit-box-shadow: inset 0 0 50px #FFF, inset 0 0 50px #FFF, inset 0 0 50px #FFF;
   -moz-box-shadow: inset 0 0 50px #FFF, inset 0 0 50px #FFF, inset 0 0 50px #FFF;
   box-shadow:      inset 0 0 50px #FFF, inset 0 0 50px #FFF, inset 0 0 50px #FFF;
}
.container {
   background-color: #FFF;
   box-shadow: 0px 0px 30px #000;
}

.jumbotron h1 {
   font-size: 45px;
   margin-bottom: 10px;
}
.jumbotron {
   margin-bottom: 0px;
   padding-bottom: 25px;
   padding-top: 25px;
   margin-left: -15px;
   margin-right: -15px;
}

.title {
   text-align: center;
}

.vignette {
   background: url("img.jpg");
   width: 500px; height: 800px;
/*         -webkit-box-shadow: inset 0 0 50px #FFF, inset 0 0 50px #FFF, inset 0 0 50px #FFF;*/
/*         -moz-box-shadow: inset 0 0 50px #FFF, inset 0 0 50px #FFF, inset 0 0 50px #FFF;*/
   box-shadow: inset 0 0 50px 30px #FFF, inset 0 0 50px #FFF, inset 0 0 50px #FFF, inset 0 0 50px #FFF;
   margin-right: -30px;
}
.navbar-nav > li > a {padding-top:10px; padding-bottom:10px;}
.navbar {
   font-size: 20px;
   margin-left: -16px;
   margin-right: -16px;
   min-height: 32px;
   border-radius: 0px;
   margin-top: 0px;
   margin-bottom: 0px;
   color: #999;
   /* Make the bar a little thicker */
   padding-top: 4px;
   padding-bottom: 4px;
   background-color: #101010;
}
.navbar .nav .active>a,.navbar .nav .active>a:hover {
   background-color:#111;
   margin-bottom: -10px;
   border-bottom-right-radius: 25px;
}
.navbar-brand {
   font-size: 22px;
   padding: 11px;
   line-height: 20px;
   height: 0px;
}

.nav-pills a {
   /*margin-left: -15px;*/
   /*background-color: rgb(51,51,51);*/
   border: 2px solid #ccc;
   color: #000;
   height: 38px;
   font-size: 18px;
}
.nav-pills > li > a {
   padding-top: 4px;
   padding-bottom: 3px;
   margin-top: 2px;
}

.nav > li > a:hover, .nav > li > a:focus {
   background-color: #ccc;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus,
.nav-pills .active a,
.nav-pills .active a:hover,
.nav-pills .active a:focus {
   background-color: #222;
   border: 2px solid #222;
   color: #FFF;
 }

.nav .dropdown-toggle .caret,
.nav .dropdown-toggle:hover .caret,
.nav .dropdown-toggle:focus .caret {
   border-top-color: #900;
}

.param a {
   background-color: rgb(200,30,50);
   color: #FFF;;
 }
.io a {
   background-color: #ccc;
 }

.helper a {
   background-color: #C73;
 }

#pages {
   float: none;
   margin:0 auto;
   /*width: 1170px;*/
/*         position: relative;
   margin: 0px auto;
   width: 1200px;*/
}
.footer .navbar-header {
   border-radius: 0px;  
   text-align: right;
   float: right;
   padding-right: 20px;
   padding-top: 7px;
}
.footer {
   text-align: center;
}

.footer a {
   color: #999;
   text-decoration: underline;
}
.center {
   float: none;
   margin-left: auto;
   margin-right: auto;
}
.img1 {
   background-image: url('img3.jpg');
   background-size: 100%;
   border-radius: 60px;
   -moz-border-radius: 60px;
   -webkit-border-radius: 60px;

   -webkit-box-shadow: inset 0 0 50px #FFF, inset 0 0 50px #FFF, inset 0 0 50px #FFF;
   -moz-box-shadow: inset 0 0 50px #FFF, inset 0 0 50px #FFF, inset 0 0 50px #FFF;
   box-shadow: inset 10px 10px 10px 10px #FFF, inset 10px 10px 10px 10px #FFF;
}
.nav i {
   color: #fff;
}
.badge {
   font-family: courier;
}
.badge-inp {
   background-color: #78a3da;
}
.badge-sel {
   background-color: #873aad;
}
.badge-dow {
   background-color: #87ad3a;
}
.badge-cor {
   background-color: #3aad87;
}
.badge-con {
   background-color: #ad3a87;
}
.badge-dis {
   background-color: #ad873a;
}
.badge-cal {
   background-color: #3a87ad;
}
.box, .square-box {
   background-color: #eee;
   //border: 1px solid #999;
   border-radius: 15px;
   //box-shadow: 0px 0px 10px #999;
   //margin-left: 20px;
   //margin-right:-11px;
   //padding-left: 10px;
   //padding-right: 5px;
   //margin-top: 10px;
}
.square-box {
   height: 370px;
}

.scheme-box {
   height: 170px;
   background-color: #ccccf9;
   border-radius: 5px;
   border: solid #999 3px;
   text-align: center;
}
.centered {
   margin: 0 auto;
   text-align: center;
 }
 /* Application images */
.application img {
   /*
    filter: url(filters.svg#grayscale);
    filter: gray;
    -webkit-filter: grayscale(1);
    */
}
a.list-group-item.active {
   background: #222;
}

/*
.panel-default {
   border: 1px solid #222;
}
.panel-default > .panel-heading {
   background-color: #222;
   color: #FFF;
}
   */
.panel-heading {
   margin: 0px;
   padding: 1px 8px;
}
.panel-heading h3 {
   text-align: center;
}
h3 {
   margin-top: 10px;
   margin-bottom: 10px;
}
code {
   background-color: transparent;
   color: black;
}
/* Don't show code using white and red in panels */
.panel-heading code {
   background-color: transparent;
   color: black;
}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
   background-color: #111;
}

.panel table {
   margin-bottom: 0px;
}

/*
.panel-info {
  border-color: #cccccc;
}
.panel-info > .panel-heading {
  color: #414141;
  background-color: #d9d9d9;
  border-color: #cccccc;
}
.panel-info > .panel-heading + .panel-collapse .panel-body {
  border-top-color: #bce8f1;
}
.panel-info > .panel-footer + .panel-collapse .panel-body {
  border-bottom-color: #bce8f1;
}
*/
.colRed {
   background-color: #F00;
}

