               <table class="table table-striped table-condensed">
                  <thead>
                     <tr><th width="20%">Attribute</th><th width="12%">Type</th><th width="12%">Default</th><th>Description</th></tr>
                  </thead>
                  <tr><td width="25%"><i class="fa fa-circle"></i> variable</td><td width="15%"><code>std::string</code></td><td></td><td> Which variable from variables.nl?</td></tr>
                  <tr><td width="25%"><i class="fa fa-circle"></i> configurations</td><td width="15%"><code>std::string[]</code></td><td></td><td> Which configurations from configurations.nl?</td></tr>
                  <tr><td width="25%"><i class="fa fa-circle-o"></i> metrics</td><td width="15%"><code>std::string[]</code></td><td></td><td> Which metrics from schemes.nl?</td></tr>
               </table>
