---
layout: default
---
<div class="jumbotron">
   <h1><i class="fa fa-gears" style="font-size: 60px"></i> Components</h1>
   <p>
      The road from raw model output to optimized forecast involves many components, each of which
      plays a role in transforming or modifying the forecast. The schemes available, and their
      options, are described under each category below.
   </p>
      <div class="centered">
         <img src="{{ site.baseurl }}/img/process6.png" width="100%">
      </div>
</div>
<p>
   <b>Attribute types</b>:
   <i class="fa fa-circle"></i> Required
   <i class="fa fa-adjust"></i> Conditional
   <i class="fa fa-circle-o"></i> Optional
</p>
{{ content }}
