<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <title>Community post-processing system</title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta name="description" content="">
      <meta name="author" content="">

      <!-- Le styles -->
      <link href="{{ site.baseurl }}/assets/css/bootstrap.css" rel="stylesheet">
      <link href="{{ site.baseurl }}/assets/css/bootstrap-responsive.css" rel="stylesheet">
      <link href="{{ site.baseurl }}/style.css" rel="stylesheet">
      <link href="{{ site.baseurl }}/syntax.css" rel="stylesheet">
      <link href="{{ site.baseurl }}/assets/css/font-awesome.css" rel="stylesheet">

      <!-- Fav and touch icons -->
      <link rel="shortcut icon" href="{{ site.baseurl }}/img/icon.png">
   </head>

   <body>
      <div class="container frame">
         <div class="navbar navbar-inverse">
            <div class="navbar-inner">
               <div class="container">
                  <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                     <span class="icon-bar"></span>
                     <span class="icon-bar"></span>
                     <span class="icon-bar"></span>
                  </a>
                  <a class="brand" href="#">COMPS</a>
                  <div class="nav-collapse collapse">
                     <ul class="nav">
                        <li class="divider-vertical"></li>
                        <li><a href="{{ site.baseurl }}/"><i class="icon-home icon-white"></i> Home</a></li>
                        <li><a href="{{ site.baseurl }}/getStarted/"><i class="icon-download-alt icon-white"></i> Get started</a></li>
                        <li><a href="{{ site.baseurl }}/tutorials/"><i class="icon-terminal icon-light"></i> Tutorials</a></li>
                        <li><a href="{{ site.baseurl }}/documents/"><i class="icon-file-alt icon-white"></i> Description</a></li>
                        <li><a href="{{ site.baseurl }}/contributors/"><i class="icon-user icon-white"></i> Contributors</a></li>
                        <li><a href="{{ site.baseurl }}/contact/"><i class="icon-envelope icon-white"></i> Contact</a></li>
                     </ul>
                  </div>
               </div>
            </div>
         </div>
         <div class="content">

         {{ content }}
      </div>
         <div class="navbar navbar-inverse">
            <div class="navbar-inner">
               &copy; 2013 Weather Forecast Research Team
            </div>
         </div>
      </div>
      <!-- Le javascript
      ================================================== -->
      <!-- Placed at the end of the document so the pages load faster -->
      <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
      <script src="{{ site.baseurl }}/assets/js/bootstrap.js"></script>
   </body>
</html>
