---
layout: default
---
<div class="jumbotron">
   <h1><i class="fa fa-gears" style="font-size: 60px"></i> Components</h1>
   <p>
      COMPS uses a component-based approach. The road from raw model output to optimized forecast involves
      several steps, each of which plays a role in transforming or modifing the forecast. For a list of available
      schemes, see <nobr><a href="../schemes/"><i class="fa fa-file-o"></i> Schemes</a></nobr>
   </p>
   <div class="centered">
      <img src="{{ site.baseurl }}/img/process4.png" width="75%">
   </div>
</div>


<p>
   <b>Attribute types</b>:
   <i class="fa fa-circle"></i> Required
   <i class="fa fa-adjust"></i> Conditional
   <i class="fa fa-circle-o"></i> Optional
</p>
{{ content }}
