---
layout: default
---
<div class="hero-unit">
   <h1>
      <span class="icon-stack">
         <i class="icon-sign-blank icon-stack-base" style="font-size: 60px"></i>
         <i class="icon-terminal icon-light"></i>
      </span>
      Tutorials</h1>
</div>
   <!--div class="span3" style="background-color: #ececec; padding-left: 10px; margin-left: 15px"-->
<div class="tabbable">
   <ul class="nav nav-pills">
      <li class="dropdown">
         <ul class="dropdown-menu">
            <li><a href="1">BaseDistributions</a></li>
            <li><a href="2">BaseDistributions</a></li>
         </ul>
         <a class="dropdown-toggle" data-toggle="dropdown" href="#">Getting started<b class="caret"></b></a>
      </li>
   </ul>
<div class="tab-content">
   <div class="tab-pane" id="tabBaseDistributions">
      <h2>Averagers</h2>
   </div>
</div>
</div>
{{ content }}
