---
layout: default
---
<div class="jumbotron">
   <h1>
      <span class="fa-stack">
         <i class="fa fa-square fa-stack-2x"></i>
         <i class="fa fa-terminal fa-stack-1x fa-inverse"></i>
      </span>
      Tutorials</h1>
</div>

<div class="tabbable">
   <ul class="nav nav-pills">
      <li>
      <a href="{{ site.baseurl }}/tutorials/index.html">Installing</a> 
      </li>
      <li class="dropdown">
         <a class="dropdown-toggle" data-toggle="dropdown" href="#">Basics <b class="caret"></b></a>
         <ul class="dropdown-menu">
            <li>
               <a href="{{ site.baseurl }}/tutorials/basics" class="list-group-item">Overview</a>
            </li>
            <li>
               <a href="{{ site.baseurl }}/tutorials/basics/running.html" class="list-group-item">Running COMPS</a>
            </li>
            <li>
               <a href="{{ site.baseurl }}/tutorials/basics/results.html" class="list-group-item">View results</a>
            </li>
         </ul>
      </li>
      <li class="dropdown">
         <a class="dropdown-toggle" data-toggle="dropdown" href="#">Namelists <b class="caret"></b></a>
         <ul class="dropdown-menu">
            <li>
               <a href="{{ site.baseurl }}/tutorials/namelists/" class="list-group-item">Overview</a>
            </li>
            <li>
               <a href="{{ site.baseurl }}/tutorials/namelists/schemes.html" class="list-group-item">Schemes</a>
            </li>
            <li>
               <a href="{{ site.baseurl }}/tutorials/namelists/configurations.html" class="list-group-item">Configurations</a>
            </li>
            <li>
               <a href="{{ site.baseurl }}/tutorials/namelists/varconfs.html" class="list-group-item">Variable-Configurations</a>
            </li>
            <li>
               <a href="{{ site.baseurl }}/tutorials/namelists/runs.html" class="list-group-item">Runs</a>
            </li>
            <li>
               <a href="{{ site.baseurl }}/tutorials/namelists/folders.html" class="list-group-item">Project folders</a>
            </li>
         </ul>
      </li>
      <li class="dropdown">
         <a class="dropdown-toggle" data-toggle="dropdown" href="#">Working with data <b class="caret"></b></a>
         <ul class="dropdown-menu">
            <li>
               <a href="{{ site.baseurl }}/tutorials/data/" class="list-group-item">Overview</a></li>
            </li>
            <li>
               <a href="{{ site.baseurl }}/tutorials/data/getData.html" class="list-group-item">Download GFS and METAR data</a>
            </li>
            <li>
               <a href="{{ site.baseurl }}/tutorials/data/input.html" class="list-group-item">Using existing data formats</a>
            </li>
            <li>
               <a href="{{ site.baseurl }}/tutorials/data/newInput.html" class="list-group-item">Adding a new data format</a>
            </li>
         </ul>
      </li>
      <li class="dropdown">
         <a class="dropdown-toggle" data-toggle="dropdown" href="#">Creating new schemes <b class="caret"></b></a>
         <ul class="dropdown-menu">
            <li>
               <a href="{{ site.baseurl }}/tutorials/schemes/" class="list-group-item">Overview</a>
            </li>
            <li>
               <a href="{{ site.baseurl }}/tutorials/schemes/writing.html" class="list-group-item">Example: Bias-corrector</a>
            </li>
            <li>
               <a href="{{ site.baseurl }}/tutorials/schemes/contributing.html" class="list-group-item">Contributing</a>
            </li>
         </ul>
      </li>
      <li class="dropdown">
         <a class="dropdown-toggle" data-toggle="dropdown" href="#">Advanced <b class="caret"></b></a>
         <ul class="dropdown-menu">
            <li>
               <a href="{{ site.baseurl }}/tutorials/advanced/parameters.html" class="list-group-item">Parameter estimation</a>
            </li>
            <li>
               <a href="{{ site.baseurl }}/tutorials/advanced/variables.html" class="list-group-item">Variables</a>
            </li>
            <li>
               <a href="{{ site.baseurl }}/tutorials/advanced/qc.html" class="list-group-item">Quality control</a>
            </li>
         </ul>
      </li>
   </ul>
</div>
{{ content }}
